form {
  background: linear-gradient(180deg, #307e6c, #2b996d);

  @apply mx-auto my-8 max-w-[30rem] rounded p-4 shadow-lg;
}

.input-group {
  @apply mb-4 flex justify-evenly gap-6;
}

label {
  font-family: 'Roboto Condensed', sans-serif;

  @apply mb-1 block text-xs font-bold uppercase;
}

input {
  @apply w-full rounded border border-solid border-algae-green-400 bg-transparent p-2 text-base text-algae-green-300;
}

button {
  @apply w-full cursor-pointer rounded border border-solid border-algae-green-700 bg-algae-green-400 p-2 text-base font-bold uppercase text-gray-900;
}

button:hover {
  @apply bg-algae-green-300;
}
