@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Roboto+Condensed:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply box-border;
}

body {
  font-family: 'Quicksand', sans-serif;
  background: radial-gradient(#303b37, #1a1f1d);
  --webkit-font-smoothing: antialiased;
  --moz-osx-font-smoothing: grayscale;

  @apply m-0 min-h-[100vh] text-gray-100;
}
